body {
    background-color: lightgray;
}


.contenair {

    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    border-radius: 25px;
    margin: 0 auto;
    height: 600px;
    width: 600px;


}



.output {
    margin: 0 auto;
    width: 100%;
    background: white;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
    height: 100px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    border-radius: 25px;
}

button {
    font-size: 50px;
    width: 150px;
    height: 100px;
    border-radius: 25px;
}